<template>
    <div class="<%= data.lowerName  %>">
        <div></div>
    </div>
</template>
<script>
    export default {
        name: '<%= data.name  %>',
        props: {},
        components: {},
        computed: {},
        data() {
            return {}
        },
        methods: {},
        mounted() { },
        beforeDestroy() { }
    }
</script>
<style lang="scss" scoped>
    .<%=data.lowerName %> {}
</style>